@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
.header .header-top {
  display: none; }

.header .header-body {
  background-color: #fe0000; }
  .header .header-body .logo-title {
    font-size: 0;
    width: 194px;
    height: 42px;
    background-image: url("../img/logo.png");
    margin-top: 22px; }
  .header .header-body .header-menu a {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; }
    .header .header-body .header-menu a:hover::after {
      background-color: #fd6c00; }
  .header .header-body .btn-loja {
    position: relative;
    float: right; }
    .header .header-body .btn-loja a.btn {
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      color: #ffffff;
      border: 1px solid #ffffff;
      padding: 5px 15px;
      margin: 28px 0 0 25px;
      cursor: pointer; }
      .header .header-body .btn-loja a.btn:hover {
        border-color: #fd6c00; }

@media only screen and (min-width: 1100px) {
  .version1.top-true {
    height: 82px; } }
