@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
.header .header-top {
  display: none; }

.header .header-body {
  background-color: #fe0000; }
  .header .header-body .logo-title {
    font-size: 0;
    width: 194px;
    height: 42px;
    background-image: url("../img/logo.png");
    margin-top: 22px; }
  .header .header-body .header-menu a {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; }
    .header .header-body .header-menu a:hover::after {
      background-color: #fd6c00; }
  .header .header-body .btn-loja {
    position: relative;
    float: right; }
    .header .header-body .btn-loja a.btn {
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      color: #ffffff;
      border: 1px solid #ffffff;
      padding: 5px 15px;
      margin: 28px 0 0 25px;
      cursor: pointer; }
      .header .header-body .btn-loja a.btn:hover {
        border-color: #fd6c00; }

@media only screen and (min-width: 1100px) {
  .version1.top-true {
    height: 82px; } }

.footer .footer-mktz {
  clear: both;
  padding: 0;
  margin: 0;
  zoom: 1; }
  .footer .footer-mktz:before, .footer .footer-mktz:after {
    content: "";
    display: table; }
  .footer .footer-mktz:after {
    clear: both; }
  .footer .footer-mktz .mktz-footer-widget {
    display: block;
    float: left;
    margin: 4% 0 4% 1.6%;
    width: 23.8%; }
    .footer .footer-mktz .mktz-footer-widget:first-child {
      margin-left: 0; }
    .footer .footer-mktz .mktz-footer-widget .logo {
      font-size: 0;
      background-image: url("../img/footerLogo.png");
      width: 223px;
      height: 48px;
      margin-bottom: 30px; }
    .footer .footer-mktz .mktz-footer-widget .w-title {
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      text-transform: uppercase; }
      .footer .footer-mktz .mktz-footer-widget .w-title:after {
        display: block;
        content: "";
        width: 40px;
        height: 2px;
        margin-top: 10px;
        background-color: #fe0000; }

.footer .footer-menu .menu-item a {
  font-family: "Montserrat", sans-serif; }

@media (max-width: 480px) {
  .footer .footer-mktz .mktz-footer-widget {
    margin: 1% 0;
    width: 100%; } }
