.cores_disponiveis
{
    ul
    {
        list-style: none;

        &:after
        {
			content: "";
			display: table;
			clear: both;
		}

        li
        {
            float: left;

            img
            {
                width: 50px !important;
                height: 50px !important;
                margin-right: 10px;
            }
        }
    }
}

.acabamentos_disponiveis
{
    ul
    {
        list-style: none;

        &:after
        {
			content: "";
			display: table;
			clear: both;
		}

        li
        {
            float: left;

            img
            {
                width: 80px !important;
                height: 80px !important;
                margin-right: 10px;
            }
        }
    }
}

.project_images
{
    ul
    {
        list-style: none;
        position: relative;

        &:after
        {
			content: "";
			display: table;
			clear: both;
		}

        li
        {
            float: left;
            width: 20%;
            margin: 0 2.5%;
            position: relative;

            img
            {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}
.projetos_relacionados_title
{
    margin: 70px 0 0 0;

    h2, hr
    {
        margin-bottom: 20px;
    }
}
.projetos_relacionados
{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #f4f4f4;
    padding: 30px 0;

    .project_images
    {
        position: relative;
        width: 1170px;
        margin: 0 auto;
    }
}
.related.products
{
    margin-top: 70px;

    h2, hr
    {
        margin-bottom: 20px;
    }
}